# system
.DS_Store
*.log
.vscode

# project specific
__test__/__snapshots__
build

# lighthouse testing
lighthouse/*.html
.chrome

# hosting
.firebaserc
firebase.json

# packaging
node_modules
yarn.lock
package-lock.json